* {
  font-family: Tahoma;
}
#lewy, #prawy {
  float: left;
  background-color: RosyBrown;
  color: white;
  width: 30%;
  height: 200px; 
}
#srodkowy {
  float: left;
  background-color: rosybrown;
  width: 40%;
  height: 200px;
  text-align: center;
}
#glowny {
  background-color: wheat;
  padding: 50px;
}
#stopka {
  background-color: rosybrown;
  color: white;
  padding: 5px;
  text-align: center;
}
a {
  border: 2px solid darkred;
  background-color: salmon;
  color: darkred;
  padding: 20px;
  line-height: 200px;
}